footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px; 
}

.contact-info {
    margin-top: 20px;
}
.contact-info p {
    margin-bottom: 5px;
}


body {
    padding-top: 56px; 
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}



.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}



.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}